html, body, .markdown-body {
    height: 100%;
}

.markdown-body {
    overflow-y: auto;
}

#main {
    padding: 20px;
}

@media screen and (min-width: 777px) {
    #main {
        margin: 0 auto;
        max-width: 777px;
    }
}

#taiko-size {
    font-size: 2rem;
}
