html, body, .markdown-body, #main {
    height: 100%;
}

#main {
    overflow-y: auto;
    padding: 20px;
}

@media screen and (min-width: 777px) {
    #main {
        margin: 0 auto;
        max-width: 777px;
    }
}

#taiko-size {
    font-size: 2rem;
}
